.file-select {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-select + label {
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px;
}

.file-select:focus + label,
.file-select + label:hover {
  background: #ccc;
}