
@{
    ViewBag.Title = "Default";
}

@section Body
{
    <section class="moduler wrapper_404">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="wow fadeInUp cd-headline slide">Server error</h1>
                        <h2 class="wow fadeInUp">Opps! We have some problems</h2>                      
                    </div>
                </div>
            </div>
        </div>
    </section>
}
