<footer class="footer">
    <div class="container">
        <div class="col-lg-12" align="center">
            <p class="footer_copyright">Copyright: <span>@DateTime.Now.Year</span></p>
        </div>
    </div>
</footer>