.footer {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer_copyright {
    margin: 15px 0px 0px 0px;
    font-size: 15px;
    color: #444;
}